/*CSS Rest*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

#AboutMe, #OtherProjects {
	min-height: 50vh;
	background-color: #333333;
}

#pre-footer {
	padding: 1rem;
	background-color: #E15C00;
	color: white;
}

#Footer {
	background-color: #1a1a1a;
}